body {
    margin: 0;
    text-align: center;
    padding-top: 100px;
    background-color: #023047;
}


.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
   
    
}
.color {
    font-weight: bold;
    width: 150px;
    height: 35px;
    color: #fff;
}

.score {
    font-size: 90px;
    text-align: center;
    width: 150px;
    height: 120px;
    background-color: #080001;
    color: #F94F6D;
    border-radius: 4px;
}
.btn-design{
    background: none;
    border: 1px solid #9AABD8;
    color: #9AABD8;
    margin-top: 20px ;
    padding: 4px 8px;
    border-radius: 4px;
}
.game-btn {
    text-transform: capitalize;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
    color: #bc6c25;
    background-color: #ffafcc;
    border: none;    
}